*{
    padding: 0;
    margin: 0;
}

body{
  background-color: beige;
  max-width:100%; 
}

.wrapper{
  margin: auto;
  display:flex;
  flex-direction: column;
  gap: 50px;
  row-gap: 40px;
  max-width: 1000px;
  margin-bottom: 50px;
  
}

.container{
  display: flex;
  flex-direction: row;
}
.row {
  -webkit-box-sizing: border-box; 
    display:flex;
    flex-direction: row; 
    margin: auto;
  }
  
.column{
  display: flex;
  flex-direction: column;
}

.column-project{
  display: flex;
  flex-direction: column;
  width: 100%;
}
h1{
  font-family: Garamond, serif; 
  font-weight: 100;
  font-size: 4rem;
  color: rgb(47, 83, 44);
}

h2{
  color: rgb(0, 0, 0);
  letter-spacing: 0.4em;
  font-family: Garamond, serif;
  font-weight: 510;
  font-style: light;
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
h3{
  color: rgb(47, 83, 44);
  font-family: Garamond, serif; 
  font-weight: 400;
  font-size: 3rem;
}

h4{
  color: rgb(47, 83, 44);
  letter-spacing: 0.1em;
  font-family: prenton, sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 1rem;
}

p{
  font-family: prenton, sans-serif;
  font-weight: 300;
  font-style: light;
  font-size: 1.2em;
  color: rgba(95, 86, 86, 0.795);
}

.subline{
  font-family: prenton, sans-serif;
  font-weight: 300;
  font-style: light;
  font-size: 1.8rem;
  color: black;
}
#header{
  padding: 25vh 30px 20vh 30px;
  -webkit-box-sizing: border-box; 
  width: 100%;
  height: 100vh;
}

.row-projects{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-bottom: 60px;
  flex-wrap: wrap;

  }

.case-study{
  color: #f5f5dc;
  border: 2px solid  #2f532c;
  width: 100%;
  margin-bottom: 10px;
  max-height: 500px;
}

.case-study-btn{
  letter-spacing: 0.1em;
  font-family: prenton, sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 0.4rem;
  width: fit-content;
  background-color: rgb(47, 83, 44);
  border: none;
  
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

.description{
  width: 50%;
  padding: 30px;

}

.photo{
width: 50%;
background-color: rgb(47, 83, 44);
}

.case-study-img{
  max-height: 250px;
  margin: auto;}

.card{
  box-shadow: 10px 10px rgb(47, 83, 44);
    border-radius: 10px 10px;
    border: 2px solid rgb(47, 83, 44);
    vertical-align: top;
  margin-bottom: 30px;

}

.card-img-top{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid rgb(47, 83, 44);
  
}

.card-body{
  padding: 20px;
}

.card-text{
  text-align: left;
}

.btn-view{
  margin-top: 20px;
  margin-right: 10px;
  letter-spacing: 0.2em;
  font-family: prenton, sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 0.4rem;
  width: fit-content;
  background-color: rgb(47, 83, 44);
  border: none;
  
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.btn-source{
  margin-top: 20px;
  letter-spacing: 0.2em;
  font-family: prenton, sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 0.4rem;
  width: fit-content;
  border: 1px solid rgb(47, 83, 44);
  
  color: rgb(47, 83, 44);;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.stretch{
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.project-title{
  color: rgb(47, 83, 44);
  font-family: Garamond, serif; 
  font-weight: 400;
  font-size: 2.5rem;
}

hr{
  height: 0.5px;
  background-color:  rgb(47, 83, 44);
  border: none;
}

ul, .links{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li, .link-image{
  display: inline;
  width: 45px;
  padding-right: 5px;
}


.tooltip .tooltiptext{
  font-family: prenton, sans-serif;
  font-weight: 200;
  font-style: bold;
  font-size: 1rem;
  
  visibility: hidden;
  background-color: rgb(47, 83, 44);
  color: #fff;
  text-align: center;
  padding: 10px 5px;
  border-radius: 6px;
 

  top: 500%;
  left: 50%;
  margin-left: -60px; 
}

.link-list:hover .tooltiptext {
  visibility: visible;
}

.banner{
  margin-top: 20px;
  letter-spacing: 0.5em;
  font-family: prenton, san-serif;
  font-weight: 300;
  font-style: light;
  font-size: 2rem;
  width: 100vw;
  max-width:100%; 
  align-items: center;
  
  color: beige;
  background-color: rgb(47, 83, 44);
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  
  position: fixed;
  bottom: 0;
}

.banner:hover{
  margin-top: 20px;
  letter-spacing: 0.5em;
  font-family: prenton, san-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 2rem;
  width: 100%;
  align-items: center;
  
  color: beige;
  background-color: rgb(47, 83, 44);
  padding: 20px 10px;
  text-align: center;
  display: block;
  
  position: fixed;
  bottom: 0;
  max-width: 100%; 
}

#view-work{
  margin-top: 20px;
  letter-spacing: 0.5em;
  font-family: prenton, san-serif;
  font-weight: 300;
  font-style: light;
  font-size: 2rem;
  width: 100vw;
  max-width:100%; 
  align-items: center;
  
  color: beige;
  background-color: rgb(47, 83, 44);
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  
  position: absolute;
  bottom: 0;
}

#view-work:hover{
  margin-top: 20px;
  letter-spacing: 0.5em;
  font-family: prenton, san-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 2rem;
  width: 100%;
  align-items: center;
  
  color: beige;
  background-color: rgb(47, 83, 44);
  padding: 20px 10px;
  text-align: center;
  display: block;
  
  position: absolute;
  bottom: 0;
  max-width: 100%; 
}


@media screen and (max-width: 700px) {
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
  }
  .banner{
    margin-top: 20px;
    letter-spacing: 0.5em;
    font-family: prenton, san-serif;
    font-weight: 300;
    font-style: light;
    font-size: 1rem;
    width: 100vw;
    max-width:100%; 
    align-items: center;
    
    color: beige;
    background-color: rgb(47, 83, 44);
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    
    position: fixed;
    bottom: 0;
  }
  .banner:hover{
    margin-top: 20px;
    letter-spacing: 0.5em;
    font-family: prenton, san-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 1rem;
    width: 100vw;
    max-width:100%; 
    align-items: center;
    
    color: beige;
    background-color: rgb(47, 83, 44);
    padding: 20px 10px;
    text-align: center;
    display: block;
    
    position: fixed;
    bottom: 0;
  }

  #view-work{
    margin-top: 20px;
    letter-spacing: 0.5em;
    font-family: prenton, san-serif;
    font-weight: 300;
    font-style: light;
    font-size: 1rem;
    width: 100vw;
    max-width:100%; 
    align-items: center;
    
    color: beige;
    background-color: rgb(47, 83, 44);
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    
    position: absolute;
    bottom: 0;
  }
  #view-work:hover{
    margin-top: 20px;
    letter-spacing: 0.5em;
    font-family: prenton, san-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 1rem;
    width: 100vw;
    max-width:100%; 
    align-items: center;
    
    color: beige;
    background-color: rgb(47, 83, 44);
    padding: 20px 10px;
    text-align: center;
    display: block;
    
    position: absolute;
    bottom: 0;
  }

  .case-study-left{
    width:100%;
    display: flex;
    align-items: center;
    padding-top: 30px;
    text-align: center;
    height: auto;
    flex-wrap: wrap; 
    border-bottom: 1px solid rgb(47, 83, 44); }

  .case-study-description{
    width: 100%;
  }

  .case-study-card{
    position: static;
    margin: 0;
  }
}

.case-study-left{
  width:30%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 30px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px ;
  
}

.case-study-description{
  padding: 50px;
  max-width: 70%;
  border-left: 1.5px solid rgb(47, 83, 44);
}

#case-study-photo{
  width: 300px;

}

.case-study-card{
  position: fixed;
  margin: 30px;
}

.black{
  color: black;
  
}

.underline{
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(47, 83, 44);
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
  padding-bottom: 15px;
  color: black;
}

.text{
  padding-bottom: 30px;
}

.description-image{
  max-width: 50%;
  box-shadow: 10px 10px rgb(47, 83, 44);
  border-radius: 10px 10px;
  border: 2px solid rgb(47, 83, 44);  
}

.center{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
  


  
  .header {
    font-family: prenton, sans-serif;
    width: 100%;
    color: beige;
    background-color: rgb(47, 83, 44);
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 20px;
  }
  
  .link {
    display: inline-block;
    /* padding: 15px 0; */
    margin: 0px 60px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  font-family: prenton, san-serif;
  font-weight: 100;
  font-style: light;
  font-size: 2rem;
  color: beige;
    
 
  }

.link:hover{
  display: inline-block;
  /* padding: 15px 0; */
  margin: 0px 60px;
  position: relative;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
font-family: prenton, san-serif;
font-weight: 100;
font-style: light;
font-size: 2rem;
color: beige;

text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: beige;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;

}